.width-143{
    width: 143px;;
}

.font-grey {
    color: #8A8F9C;
  }

  .font-openSans {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
  }

  button {
    margin: 0 5%;
    background: white;
    box-shadow: 0px 3px 6px grey;
    border: 0;
    border-radius: 5px;
    width: 42px;
    height: 42px;
  }

  .opacity-50{
    opacity: 50%;
  }

  .margin-icon{
    margin: 0 5px;
}