.width-640{
    max-width: 640px;
}

.right-item-margin {
    margin: 5% 0;
}

.font-openSans40 {
    font-size: 40px;
  }

  .item-margin {
    margin: 10% 2%;
  }
  .font-openSans-regular {
    font-family: "Open Sans";
    font-size: 14px;
  }

  .font-openSans18 {
    font-family: "Open Sans";
    font-size: 18px;
  }

  .font-grey {
    color: #8A8F9C;
  }
  .width-280 {
    width: 280px;
  }

  .height-403 {
    height: 403px;
  }

  .img-cover {
    object-fit: cover;
  }

  .fit{
      width: fit-content;
  }

  .width-360{
      width: 360px;
  }

  .border {
    border: 5px;
    box-shadow: 0px 3px 6px #000000;
  }

  .width-499{
      width: 499px;
  }

  .background-white {
    background-color: #ffffff;
  }

  .margin-10 {
    margin: 17px 30px;
  }

  .font-openSans18-semi {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
  }

  .font-purple {
    color: #7C60FF;
  }

  .font-green {
    color: #42B72A;
  }

  .height-50 {
    height: 50%;
  }

  .align-item {
    display: flex;
    align-items: center;
  }

  .height-118 {
    height: 118px;
  }

  .background-grey {
    background-color: #F5F6F7;
  }

  .margin-left-10{
      margin-left: 10%;
  }

  .margin-icon{
      margin: 0 5px;
  }